body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYXMxZjg2eDEydzJsMnVwZ3g2bmt4NHV5eG8wMzZsa3V5Nmp5cGluMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ei69IyyyIqc2lxn2DZ/giphy.gif');
  background-size: auto;
  background-repeat: repeat;
}

.container {
  margin: 20px auto;
  width: 80%;
}

.wallet-section {
  margin-bottom: 20px;
}

.top-up-button, .drop-button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

input {
  width: 50px;
  margin-right: 10px;
}
